<%= form_with(model: quiz, local: true) do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_field :question, id: :quiz_question %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer, id: :quiz_answer %>
  </div>

  <div class="field">
    <%= form.label :ref1 %>
    <%= form.text_field :ref1, id: :quiz_ref1 %>
  </div>

  <div class="field">
    <%= form.label :ref2 %>
    <%= form.text_field :ref2, id: :quiz_ref2 %>
  </div>

  <div class="field">
    <%= form.label :ref3 %>
    <%= form.text_field :ref3, id: :quiz_ref3 %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note, id: :quiz_note %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :quiz_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
